.button{
    color:black;
    border: 1px solid transparent;
    background-color: transparent;
    outline:none;
    width:100px;
    height:40px;
}

.button-warning{
    background-color: orange;
    border-color:white;
}


.button-success{
    background-color: green;
    border-color:white;
}


.button-error{
    background-color: red;
    border-color:white;
}