.container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    border:1px solid blue;
    /* justify-content: space-between; */
}

.product-item{
    min-width: 300px;
}

.top-container{
    display: block;
}

.top-container2{
    border:1px solid red;
}